@import url("variables.css");

/*=========================================
    SEARCH PAGE
=========================================*/

.search-header {
    margin-bottom: 30px;
}

    .search-header h2 {
        font-size: 28px;
        font-weight: 700;
        color: var(--text);
        margin-bottom: 8px;
    }

    .search-header p {
        color: var(--text-light);
        margin
